body {
    background-color: bisque;
    color:cadetblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    width: 60%;
    margin: 3rem auto;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: right;
}

h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

ul {
    list-style-type: circle;
}

ul li {
    letter-spacing: 10px;
}

ol {
    width: 90%;
}

ol li {
    color:darkseagreen;
    padding-left: 3rem;
}

p {
    line-height: 2rem;
    font-weight: 600;
}

img {
    width: 30%;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color:darkred;
}

a:visited {
    color:chocolate;
}

a:hover {
    cursor:crosshair;
}